* {
    font-family: 'Poppins', sans-serif;
}


/* Navbar */

.navbar {
    background-color: #FEFEFE;
}

.card-menu {
    background-color: #EA5251;
}

input {
    border: none!important;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 1em!important;
    font-size: 14px!important;
    padding: 10px 20px!important;
    transition: 500ms;
}

input:focus {
    border: none!important;
}

.btn-search {
    background-color: #393F93;
    color: white;
    padding: 5px 40px;
    border-radius: 1em!important;
}

.active {
    font-weight: 600;
    color: #EA5251 !important;
}

.nav-item {
    margin-right: 20px;
    font-size: 14px;
}

.btn-access {
    padding-left: 40px !important;
    padding-right: 40px !important;
    background-color: #EA5251;
    border: none;
    color: white !important;
    border-radius: 1em;
}

.btn-primary:hover {
    background-color: #bd4242;
}

.banner {
    padding: 50px 0px;
    background-color: #FEFEFE;
}


/* Result */

.result {
    padding: 20px 0px;
    background-color: #FEFEFE;
}

.item {
    position: relative;
    background-color: #FEFEFE;
    padding: 20px 20px;
    border-radius: 1em;
    transition: 500ms ease;
}

.item a {
    text-decoration: none;
    color: black;
}

.item:hover {
    filter: drop-shadow(0px 12px 50px rgba(0, 0, 0, 0.15));
    transition: 500ms ease;
}

.item img {
    border-radius: 1em;
}

.item span {
    position: absolute;
    z-index: 9;
    position: 100px 0px;
    bottom: 20px;
    right: 20px;
    font-size: 13px;
}

.item p {
    margin-top: -5px;
    font-size: 15px;
}


/* Modal */

.modal-content {
    border-radius: 1em!important;
}

.form-group span {
    font-size: 13px;
    padding: 5px 15px;
    margin-right: 5px;
}

footer {
    background-color: #E7F6FD;
}

footer p {
    padding-top: 15px;
    font-size: 15px;
    color: #6A6A6A;
}